.App {
  text-align: center;
  padding: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  margin: 30px 10px 30px 20px;
}

.line {
  margin-bottom: 0.6em;
}
.division {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}
.shortestIpt {
  margin-left: 0.3em;
  margin-right: 10px;
  width: 2em;
}
.shorterIpt {
  margin-left: 0.3em;
  margin-right: 10px;
  width: 4em;
}
.shortIpt {
  margin-left: 0.3em;
  margin-right: 10px;
  width: 5em;
}
.longIpt {
  margin-left: 0.3em;
  width: 15em;
}

.infoSubmit {
  width: 100%;
  height: 3em;
  font-size: 20px;
  font-weight: bolder;
}
.samePerson {
  margin-left: 1em;
}
